   * {
            margin: 0;
            padding: 0;
        }
        .bg{
            background-color: #f4f4f4;
        }
        
        .head {
            /*铺满*/
            width: 100%;
            max-height: 75px;
            background-color: #fff;
            z-index: 99;
            position: fixed;
            top:0;
        }
        .nav {
            position: relative;
            /*绝对定位*/
            border: 1px  none #fff;
            width:1518px;
            height:auto;
            margin:0px auto;
        }
        
        .nav ul {
            list-style-type: none;
            /*置顶*/
            position: relative;
            top: 0;
            align-content: center
            /*铺满*/
            width: 100%;
            background-color: #dcdcdc;
            z-index: 2;
        }
        
        .nav ul li {
            float: left;
        }
        .nav ul li img{
             width:100%;
             max-width:100%;
             left:-30px
        }
        
        .nav ul li a {
            height: 75px;
            width: 150px;
            line-height: 75px;
            display: block;
            color: #000;
            font-family: 微软雅黑;
            /*内框架*/
            /*去除下划线*/
            text-decoration: none;
            /*字体居中*/
            text-align: center;
            font-size: 18px;
        }
        
        .nav li a:hover {
            background: rgba(128, 203, 214, 0.267)/*鼠标滑过变色*/
        }
        
        .nav li ul {
            position: absolute;
            align-items: center;
            top: 73px;
            /*相对定位*/
            display: none;
        }
        
        .nav li ul li {
            float: none;
        }
        
        .nav ul ul li a {
            display: block;
            color: #000;
            /*内框架*/
            padding: auto 0px;
            /*去除下划线*/
            text-decoration: none;
            /*字体居中*/
            text-align: center;
            font-size: 15px;
        }


        
        .nav ul li:hover ul {
            display: block;
        }