
/* 导航栏部分 */
header{
    background-color: white;
    width: 100%;
    background-color: #f4f4f4;
}
.nav{
    margin: 0 auto;
    border-bottom: 1px solid #999;
    height: auto;
    font-size: 0;
    overflow: hidden;
    width: 90%;
    padding: 10px 0 10px 0;
}

.nav ul{
    list-style-type: none;
    text-align: center;
    background-color: white;
}
.nav ul li{
    font-size: 16px;
    float: left;
}
.nav ul li img{
    width: auto;
    height: 85px;
}
.nav ul li a{
    width: 155px;
    height: 80px;
    line-height: 80px;
    display: block;
    font-family: "微软雅黑";
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    color: #000;
}

.nav ul li a:hover{
    color: #fff;
    background-color: #0064CBFF;
    border-radius: 10px;
    font-size: 20px;
}
.nav ul li ul {
    position: absolute;
    z-index: 99;
    border-radius: 10px;
}
.nav ul li ul li{
    float: none;
    display: none;
    border-radius: 10px;
}
.nav ul li ul li a{
    height: auto;
    display: block;
    font-size: 18px;
    padding: auto 0px;
    border-bottom: 0.8px solid #999;
    text-align: center;
    border-radius: 10px;
}
.nav ul li:hover ul  li{
    display: block;
}
/* 导航栏end */
