<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科技部寒假快乐大礼包</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link  type="image/x-icon" href="../static/img/icon.jpg" rel="icon">
</head>
<body>
    <div id="content">
        <header>
            <h1>{{ header }}</h1>
        </header>
        <div id="body">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <div id="footer">
                
                <p style="font-size: 16px;">
                    <span> 
                        Copyright © 2019 
                    </span>
                    <a href="https://github.com/Farmer-chong" target="_blank">
                        <i class="fa fa-github"></i> -Farmer.
                    </a>
                </p>
                <p>
                    2019-2020学年网页设计课程
                </p>
                <p>
                    我的个人页 : <a href="http://www.farmer233.top:666" > Farmer233.top </a>
                </p>
                
            </div>
        </footer>
    </div>
</body>
</html>