{% extends "base.html" %}
{% block content %}
    {% for content in contents %}
    <div class="box">
        <!-- 题目 -->
        <span> {{ content['task'] }}</span>
        <br><br>
        <!-- 截至日期 -->
        <p class="dead_line">时间：<span> {{ content['dead_line'] }} </span> </p>
        <p class="tips">提交格式: 任务名+姓名 </p>
        <br>
        <form class="form" action="http://www.farmer233.top:5001/upload" method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input class="submit" type = "submit"/>
        </form>
    </div>
    {% endfor %}
{% endblock %}