/* My_first_blog */
/* 2019-10-30 */
*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: #ffffff; */
    font: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
div{
    display: block;
    box-sizing: border-box;
}
.content{
    /* 页面左右距离 */
    padding: 0 60px;
    position: relative;
    max-width: 1150px;
    min-width: 700px;
    margin: 0 auto;
}
header{
    position: relative;
    margin: 50px 0 0;
    color: #999;
    text-align: left;
    border-bottom: 1px solid #999;
}
a{
    text-decoration: none;
    color: #444;
}
p{
    margin: 10px 0 25px;
}
#header-logo{
    font-size: 38px;
    font: bold;
    color: #555;
}
#nav-menu{
    right: 0px;
    bottom: 5px;
    position: absolute;
    font-size: 0px;
}
#nav-menu a{
    font-size: 13px;
    padding: 5px 20px 5px;
    /* color: #333; */
}
#nav-menu a:link,#nav-menu a:visited{
    color: #444;
}
#nav-menu a:hover{
    border-bottom: 1.5px solid black;
}
#nav-menu a.current{
    border: 1px solid #999;
    border-bottom: 1px solid white;
}
#nav-menu i{
    padding-right: 5px;
}
/* 博客主体 */
/* 博客主体左边样式 */
#blog{
    word-wrap: break-word;
    position: relative;
}
#blog #blog-left{
    width: 75%;
    margin: 0;
    display: inline-block;
    /* float: left; */
}
#blog #blog-left #blog-content{
    padding-top: 20px;
    padding-right: 50px;
}
/* blog内容上传CSS */
#blog #blog-left #blog-content .post{
    padding-top: 25px;
    padding-bottom: 15px;
    position: relative;
    /* margin-bottom: 5px; */
    /* border-top: 1px solid #333; */
    margin: 10px 0;
}
#blog #blog-left #blog-content .post .post-title{
    font-size: 25px;
    color: #555;
}
.post .post-meta{
    margin: 15px 0 0 2px;
    font-size: 14px;
    color: #444;
}
.post .post-content{
    font-size: 15px;
    line-height: 1.77;
    color: #444;
}
.post .readmore a{
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    bottom: -3px;
    right: 5px;
    color: #555;
}
/* 博客下方转页导航栏 */

#footer-nav{
    position: relative;
    margin: 35px 0 10px;
    padding: 25px 0 5px;
    border-top: 1px solid #ddd;
    text-align: center;
}
#footer-nav .current,#footer-nav a{
    /* background: #6E7173; */
    font-size: 16px;
    padding: 5px 9px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    text-align: center;
    color: #333;
    /* position: absolute; */
}
#footer-nav a:link,#footer-nav a:visited{
    color: #333;
}
#footer-nav a:hover{
    border-bottom-color: #D26911;
    background-color: #f8f8f8;
}

#footer-nav .current{
    border-bottom-color: #D26911;
    background-color: #f8f8f8;
}
#footer-nav .next-page{
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0;
    /* padding: 0; */
}

/* 博客页脚 */
footer #footer{
    width: 75%;
    position: relative;
    bottom: 0;
    clear: both;
    margin: 0 0 10px;
    padding: 40px 0;
    text-align: center;
    color: #555;
}
#footer i{
    margin-right: 3px;
}
/* 博客右侧CSS */
#blog #blog-right{
    top: 0;
    position: absolute;
    color: #888;
    clear: both;
    margin: 0;
    width: 20%;
    display: inline-block;
    /* float: right; */
}
#blog-right #blog-nav{
    margin-top: 40px;
    padding-left: 35px;
}
.widget{
    margin-bottom: 30px;
}
.widget-title{
    color: #6E7173;
    font-size: 16px;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.widget .widget-content{
    margin: 14px 0;
    /* font-size: 15px; */
}
.widget .widget-content a:link,.widget .widget-content a:visited{
    color: #ddd;
}
.widget .widget-content a:hover{
    color: #333;
}
#blog-right #blog-nav .widget .widget-list{
    list-style-type: none;
    margin: 5px 0;
    color: #6E7173;
    line-height: 1.75;
    font-size: 14px;
}
#blog-right #blog-nav .widget .widget-list a{
    color: #6E7173;
}